@model CinemaLib.Domain.Biglietto;

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Biglietto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="idPosto" class="control-label"></label>
                <input asp-for="idPosto" class="form-control" />
                <span asp-validation-for="idPosto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Costo" class="control-label"></label>
                <input asp-for="Costo" class="form-control" />
                <span asp-validation-for="Costo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="salaId" class="control-label"></label>
                <select asp-for="salaId" class ="form-control" asp-items="ViewBag.salaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Cliente" class="control-label"></label>
                <select asp-for="Cliente" class ="form-control" asp-items="ViewBag.Cliente"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
